/*##########APPLICATION STYLES##########*/

html,body {
    padding: 0; 
    margin: 0;
}

.dancing-script {
    font-family: 'Merriweather', serif;  font-family: 'Pacifico', cursive;
}

.hyperLink:hover {
  color: #fff !important;
}

ul {
  list-style: none;
  margin: auto;
}

@media screen and (max-width: 840px) {
  .vertical-nav {
    display: block !important;
  }

  .horizontal-nav {
    display: none !important;
  }
}

@media screen and (min-width: 840px) {
  .vertical-nav {
    display: none !important;
  }

  .horizontal-nav {
    display: block !important;
  }
}



/*##########END APPLICATION STYLES##########*/

/*##########NAV BAR STYLES##########*/

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #695578;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .horizontal-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 28px;
    color: #695578;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .horizontal-content a:hover, .horizontal-content a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .sticky {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

/*##########END NAV BAR STYLES##########*/

/*##########HERO STYLES##########*/

  .hero-content {
    margin-top: 5rem;
  }

  .my-hero {
    position: relative;
    display: flex;
    top: 100px;
    left: 0;
    height: auto;
    min-width: 100%;
    /*min-height: 100%; */
    background-color: #43293d;
  }

  .hero_h1 {
    font-size: 32px;
  }

  .hero_ul {
    font-size: 22px;
  }

  .heroButton {
    background-color: #000;
    border: solid;
    border-color: #695578;
    color:  #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    border-radius: 0px;
    opacity: 50%;
    margin-top: 25px;
  }

  .heroButton:hover {
    opacity: 100%;
    background-color: #000 !important;
    border-color: #000 !important;
    color: #695578 !important;
  }

  .heroButton:focus, .heroButton:active {
    opacity: 50%;
    background-color: #000 !important;
    border-color: #695578 !important;
    outline: none !important;
    box-shadow: none;
  }

  @media screen and (max-width: 640px) {
    .my-hero {
      height: 480px !important;
    }

    .vintage-scissors {
      height: 480px !important;
    }

    .hero-content {
      margin-top: 4rem;
    }

    .hero_h1 {
      font-size: 22px;
    }

    .hero_ul {
      font-size: 14px;
    }
    
    .heroButton {
      font-size: 14px;
      padding: 5px 20px;
      margin-top: 15px;
    }
  }

/*##########END HERO STYLES##########*/

/*##########HERO CONTENT STYLES##########*/

.hero-content {
  color: #b88db4;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
}

/*##########END HERO CONTNENT STYLES##########*/

/*##########BODY STYLES##########*/

.bodyDiv {
  position: relative;
  top: 0px;
}

/*##########END BODY STYLES##########*/

/*##########ABOUT STYLES##########*/

.about {
  position: relative;
  top: 100px;
  height: 880px;
  background-color: #ffffff;
  width: 100%;
}

.aboutContent {
  height: 100%;
  width: 90%;
  text-align: center;
  margin: auto;
  padding: 35px;
}

.aboutContent h1 {
  font-weight: normal;
  font-style: normal; 
  font-size: 48px;
  color: #43293d;
}

.aboutContent p {
  font-weight: normal;
  font-style: normal; 
  font-size: 32px;
  color:#695578;
}

.salonImageContainer {
  text-align: center;
  max-width: 400px;
  height: auto;
  padding: 0;
  margin: auto;
  margin-top: 25px;
  background-color: #f7f7e8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.salon-image {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  border: 5px solid #f7f7e8;
  border-bottom: 60px solid #f7f7e8;
}

.grayscale {filter: grayscale(100%);}
.sepia {filter: sepia(100%);}

@media screen and (max-width: 640px) {
  .aboutContent h1 {
    font-weight: normal;
    font-style: normal; 
    font-size: 32px;
    color: #43293d;
  }
  
  .aboutContent p {
    font-weight: normal;
    font-style: normal; 
    font-size: 16px;
    color:#695578;
  }
}


/*##########END ABOUT STYLES##########*/

/*##########SERVICES STYLES##########*/

.services {
  position: relative;
  top: 100px;
  height: 880px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

/*##########END SERVICES STYLES##########*/

/*##########CLIENTS STYLES##########*/

.clients {
  position: relative;
  top: 100px;
  height: 880px;
  background-color: #ffffff;
  width: 100%;
}

/*##########END CLIENTS STYLES##########*/

/*##########CONTACT STYLES##########*/

.contact {
  position: relative;
  top: 100px;
  height: 880px;
  background-color: #695578;
  width: 100%;
}

/*##########END CONTACT STYLES##########*/

/*##########FOOTER STYLES##########*/

.footer {
  position: relative;
  left: 0;
  bottom: -100px;
  width: 100%;
  background-color: #000000;
  color: white;
  text-align: center;
  height: 125px;
}

.footerContent {
  width: 100%;
  height: 100%;
  text-align: center;
}

.footerContent ul {
  height: 75%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

.footerContent li {
  float: left;
}

.footerContent li a {
  display: block;
  text-align: center;
  padding: 22px;
  text-decoration: none;
  color: #b88db4;
  font-size: 32px;
}

.footerText {
  color: #b88db4;
}

.footerText a {
  color:  #ffffff !important;
}

.footerText p {
  margin: 0px !important;
}

/*##########END FOOTER STYLES##########*/